[2018-07-19 18:24] prydonius commented on #478
@pcgeek86 we're in the middle of a move to the Helm GitHub org hence why those docs were updated and are temporarily incorrect. The move should be completed today.

[2018-07-19 21:54] pcgeek86 commented on #478
Got it, someone provided me this URL, which worked: https://kubernetes-helm.github.io/monocular

[2018-07-19 21:54] #478 closed

[2018-07-19 21:57] prydonius commented on #478
@pcgeek86 just be aware that that one may stop working when this repo moves to Helm

[2018-07-19 23:53] pcgeek86 commented on #478
@prydonius Sounds good, didn't realize there were big changes going on. Just trying to get up and running for now. Appreciate the heads up! Cheers

[2018-07-20 00:09] prydonius commented on #478
@pcgeek86 this has now been transferred over. In case you're interested, this is due to Helm's move to a top-level project under the CNCF - see https://github.com/cncf/toc/blob/master/proposals/helm.adoc for more info!

[2018-07-20 10:30] hwshin16 opened #479 "Failed to fetch monocular file"
Hello, I saw this error message during executing commands.
My repo url is "monocular	https://helm.github.io/monocular".

$ helm install --name monocular monocular/monocular --debug

[debug] Created tunnel using local port: '49379'

[debug] SERVER: "127.0.0.1:49379"

[debug] Original chart version: ""
Error: Failed to fetch https://kubernetes-helm.github.io/monocular/monocular-0.6.3.tgz : 404 Not F

[2018-07-23 09:18] jimleitch01 commented on #479
Hi hwshin16,

I worked around this (on MacOS) by:

[code]
Search and replace `kubernetes-helm` with `helm`

[code]

Not beautiful but gets the job done

[2018-07-23 11:16] hwshin16 commented on #479
Thank you for reply, jumleitch01. I did it, but now I see "CrashLoopBackOff" status of monocular-api and  "Pending" status of monocular-mongodb.
What's happening?

[2018-07-23 14:00] jroucheton commented on #479
Same issue.
index.yaml for Helm repository seems to be corrupted.
As you can see on the following extract, URL is not up-to-date.

It should be **https://helm.github.io/monocular/monocular-0.6.3.tgz** instead of **https://kubernetes-helm.github.io/monocular/monocular-0.6.3.tgz**

apiVersion: v1
entries:
  monocular:
  - apiVersion: v1
    appVersion: v0.7.3
    created: 2018-07-13T18:36:49.2103035

[2018-07-24 05:10] prydonius commented on #479
fixed in #480 thanks all!

[2018-07-24 05:10] #479 closed

[2018-07-24 06:07] Jaskaranbir commented on #458
These issues can also arise due to "version inconsistency" (for the sake of not knowing a better term here).

Did you try `npm install webpack` before removing `package-lock.json`? If that fixes the issue, we can just update the version in `package.json` and `package-lock.json` instead of removing them.

[2018-07-26 22:21] biancajiang opened #481 "Chart UI spinning, TypeError: "this.chart.attributes.repo.source is undefined""
In stalled monocular with nginx ingress controller. Also followed #422 (very helpful!) and verified API works for charts and individual chart.

`helm install -n mn monocular/monocular -f monocular-values.yaml`

/charts/repo UI works.  But when click on individual chart (/charts/repo/redis) for details, UI just keeps spinning.  Lots of TypeError: "this.chart.attributes.repo.source is undefined" in

[2018-07-27 06:34] AlawnWong opened #482 "How to add local repository on the monocular UI?"
I use the 'helm serve' start a  local repository .
Can I add this  local repository to the monocular?

[2018-07-27 07:38] AlawnWong commented on #482
Can I add a chartmuseum repository  to the monocular ?

[2018-07-27 11:01] erdeanmich opened #483 "What exactly is tiller-deploy?"
Hi everybody!
I installed monocular on openshift and after the installation the logs said something like:
"Monocular expects tiller-deploy to be found in namespace tiller".

I installed tiller using this guide https://blog.openshift.com/getting-started-helm-openshift/ and it generated only a service named "tiller".

Monocular itself runs quite fine, but I cannot install any Helm Chart. The logs of

[2018-07-27 21:21] prydonius commented on #483
For me the Service is called tiller-deploy, what version of Helm are you using?

[2018-07-30 16:45] prydonius commented on #482
@AlawnWong as long as it is reachable from the Monocular API pod, yes.

[2018-07-31 17:28] iam-merlin commented on #419
I just try to install the chart and I've the same issue.

I forked the project, update the mongodb dep to 4.0.4 and it works perfectly, do you want a PR?

[2018-07-31 17:44] prydonius commented on #419
@iam-merlin sure a PR for that would be great! Do you know what change in MongoDB 4.0.4 that helps fix this?

[2018-07-31 17:47] iam-merlin commented on #419
@prydonius to be honest, I don't know xD.

I just saw that your deps were outdated and I simply update it.

[2018-07-31 17:53] prydonius commented on #419
@iam-merlin fair enough, I think it makes sense to update it so happy to accept a PR for that!

[2018-08-01 07:34] erdeanmich commented on #483
Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}

[2018-08-01 07:54] iam-merlin commented on #419
@prydonius done

[2018-08-01 10:36] obeyler opened #485 "add repository trouble"
I use the monocular-0.6.3  version deployed with the last helm chart

If I declare the repository inside the value.yml file repositories don't appear into list of repository
this is my value.yml file
[code]
and when I try to add new repository whith the ui I've got this error  in top of the dialog box:

[2018-08-01 15:16] kylehodgetts commented on #483
@erdeanmich When you run `kubectl get service --kube-system` do you see a tiller-deploy service?

[2018-08-01 18:03] prydonius commented on #485
@obeyler do you see any errors in your browsers Javascript console or the Network tab?

[2018-08-02 07:52] erdeanmich commented on #483
@kylehodgetts actually I don't see it

[2018-08-02 09:02] obeyler commented on #485
The trouble was that monocular-api server couln't be reach
thanks

[2018-08-02 09:02] #485 closed

[2018-08-02 14:49] obeyler opened #486 "chartmuseum trouble with monocular"
https://ingress-mydomain.com/chartmuseum/index.yaml
return a file with this content:
[code]

so as said in issue #395 I add this into repository config
name: internal
url : https://ingress-mydomain.com/chartmuseum

but it doesn't find any chart and say that the repository is empty
Do you know what is wrong ?

[2018-08-02 15:06] obeyler commented on #486
in monocular-api pod
I see this log :
15:00:35 data.Charts AllFromRepo(internal) error (no charts found for repo internal
)

[2018-08-02 16:56] #419 closed

[2018-08-03 10:40] obeyler commented on #486
chartmuseum is well installed as I can use it to install the Istio chart
with :
[code]
so I don't know why monocular doesn't see anychart

[2018-08-03 20:28] prydonius commented on #486
@obeyler are you able to curl your chartmuseum instance from a pod running in the cluster?

[2018-08-08 01:13] #482 closed

[2018-08-09 16:16] sarjarapu commented on #393
+1 I would like to have the UI to help user populate some of the parameters to customize the installations. Think of having multiple WordPress or MongoDB installation.

[2018-08-10 11:49] obeyler opened #487 "[helm/monocular] mongodb unable to connect with chart 0.6.4"
I use helm chart to install monocular.
With chart monocular-0.6.3 to pb monocular-api  is able to use monocular-mongodb
With chart monocular-0.6.4 to pb monocular-api  is not able to use monocular-mongodb

[2018-08-10 12:03] obeyler commented on #486
Yes I can but I need to turn off the curl's verification of the certificate.
Is it possible to specified a certificate or desactivate the verification inside monocular ?

[2018-08-13 18:09] migmartri commented on #473
Thanks @bzon for the comment.

Based on your experience running monocular under the 512Mi limit, have you found that value enough for running a full chart import without any container restarts?

[2018-08-15 02:02] taylorsmithgg opened #488 "Deployment always failed"
Running on the latest release

[code]

[2018-08-16 12:33] everflux opened #489 "Run on ARM / ARM64"
Please provide docker multiarch images so monocular can be run on an ARM based infrastructure.

[2018-08-20 10:15] natiki opened #490 "Error: failed to download "monocular"...."
Hi,

Fresh install of Minikube 0.28.2 on Windows 10 and after following the instructions I am unable to install Monocular. Any suggestions?

[code]

[2018-08-20 12:40] kylehodgetts opened #491 "MongoDB unable to start due to incorrect option being passed"
When following the instructions in the README, I've found that the API pods enter CrashLoopBackoff due to being unable to connect to the MongoDB instance.

When checking the logs of the mongopod, I find the following:

[code]

When trying to start mongod, as you can see, a string parameter is passed where a boolean one should be.

[2018-08-20 15:55] hshin-pivotal opened #492 "Cannot display chart"
I installed monocular v0.7.3, but it doesn't show chart after stucking in loading.
Through chrome development tool, I could see "vendor.be7b2a3ce592e457b68c.bundle.js:1 ERROR Unexpected token < in JSON at position 0".

I'm connecting node ip and node port directly, not connecting ingress cluster ip.
How can I solve it?

[2018-08-20 17:57] relenteny commented on #491
+1 Just saw the same issue.

[2018-08-20 20:09] michaelgriffiths-mclaren commented on #491
+1, I'm using chart version 0.6.4

[2018-08-20 20:12] relenteny commented on #491
Got around it by specifying the previous MongoDB image in the values yaml file I use when starting Monocular:

`mongodb:
    image:
      tag: 3.6.6-debian-9-r36
`

So far, looks to be working fine.

[2018-08-21 08:07] pennpeng commented on #491
Expected boolean switch but found string:  for option: net.ipv6
--

[2018-08-21 08:34] pennpeng commented on #492
+1

[2018-08-21 08:45] pennpeng commented on #485
same problem，but my monocular-api  can be reach，

[2018-08-21 10:12] kylehodgetts commented on #491
This worked.
I'm going to leave the issue open until it's resolved though

[2018-08-21 15:19] Stolr opened #493 "Development - Dep ensure"
HI ,

I am trying to run the monocular API in development mode.

I am using the docker-compose you provide.

Everything looks fine , but the dep ensure seems to have some issues :+1:

[code]

Do you have any idea how I can resolve this ?

Thanks !

[2018-08-21 15:50] obeyler commented on #492
@hshin-pivotal  do you install it on a CFCR ? if yes I can show you how deploy it with a bosh release I've done to deploy helm chart

[2018-08-22 00:25] hshin-pivotal commented on #492
@oberyler i installed on pks, pivotal container service. But it's based on CFCR, so it'll be helpful if you can help me. :) Thx

[2018-08-22 08:49] jroucheton commented on #472
I have the same issue using the following helm repository in monocular:
https://jroucheton.github.io/miniapps/index.yaml

time="2018-08-21T23:28:54Z" level=error msg="error on refresh charts from repo" error="Get http://jroucheton.github.io/miniapps/index.yaml: dial tcp 185.199.110.153:80: i/o timeout" repo=&amp;{ObjectIdHex("5b7c1b913cbda5889b1bb634") test http://jroucheton.github.io/miniapps }

[2018-08-22 19:26] prydonius commented on #490
@natiki can you try adding the `--debug` flag to `helm install`?

[2018-08-22 19:28] prydonius commented on #493
Possibly a transient issue, that repo does exist. Can you try again?

[2018-08-23 07:49] Stolr commented on #493
Hi ,

I've been trying every day since 2 weeks. I don't think this is a networking issue :/

[2018-08-23 10:46] natiki commented on #490
[code]

[2018-08-23 13:41] obeyler commented on #485
@pennpeng  to my part it was due to a wrong indent of my yaml file

[code]
to see the difference look at the 'repos:' and the '-name' start on same column

[2018-08-23 17:26] prydonius commented on #490
Huh, I'm not sure why that doesn't work, also seems to be a Windows specific issue

[2018-08-24 06:05] natiki commented on #490
Let me know if I can do anymore testing for you

[2018-08-24 07:27] obeyler commented on #492
and if you want to access to your kube dashboard you can use this operator :
`
- type: replace
  path: /instance_groups/name=cfcr-addon/jobs/name=helm/properties/ingress/-
  value:
    name: dashboard-ingress
    namespace: kube-system
    annotations:
    - name: nginx.ingress.kubernetes.io/rewrite-target
      value: '/'
    - name: nginx.ingress.kubernetes.io/secure-backends
      value: '"true

[2018-08-24 09:21] obeyler opened #494 "Add last chart version on dashboard"
feature request :
now the dashboard give only the version of the product.  Could you also give the last version of the chart of the product ?

example for kube-obs-view chart
the kube-obs-view cartrige give version 1.0.0
![image](https://user-images.githubusercontent.com/23224162/44576740-a0847f80-a78f-11e8-866a-d99fa95b4947.png)

but when you click on it you can see the different version of helm

[2018-08-24 20:29] prydonius commented on #494
We found that the chart version confused people on https://hub.kubeapps.com, as they were mostly interested in the version of the actual application. We could add the chart version alongside the app version there, but I worry that it might be too much information and confusing to have both.

As for the single chart view, I'm not sure what a good way of presenting both the app and chart versions on

[2018-08-25 16:02] obeyler commented on #494
To my part as I Install with helm, the helm chart version is important to see if there is an update that should be done on my cluster.
perhaps a solution would be to have both with an indication of the origin of the number

------
**Kube ops view**

type|version
---------- |----------
 app          |        1 .0
 chart       |        0.4.0  stable

[2018-08-27 18:38] prydonius commented on #494
@obeyler thanks for the suggestion, I like the tabular idea! Do you see that being in the view with a list of charts or in the specific chart page?

[2018-08-28 14:18] ivanovaleksandar commented on #492
Hm, I am hitting the same error, even though I am using Minikube or Kubeadm. Any suggestions?

[2018-08-28 16:27] obeyler commented on #492
How do you install monocular Is it with helm chart ?
If yes take the version 0.6.3 instead of 0.6.4. The 0.6.4 has trouble with mongodb.

[2018-08-29 08:45] ivanovaleksandar commented on #486
@obeyler did you find a solution for this issue?
I am hitting the same thing...

[2018-08-29 10:05] obeyler commented on #486
@ivanovaleksandar not yet sorry

[2018-08-30 14:17] jroucheton commented on #481
Same issue on my side... Any news?

[2018-08-30 16:54] obeyler commented on #486
@prydonius I don't understand your last post
The main idea of this issue is to solve trouble about adding chartmuseum as helm repository in case of the chartmuseum. We suspect the certificate but we aren't sure.

[2018-08-30 17:26] prydonius commented on #481
How are you accessing the Monocular UI? Please don't use a service directly and use the Nginx Ingress Controller as described in the documentation.

[2018-08-30 17:35] obeyler commented on #486
One use case : we need to deploy chartmuseum to deploy some public produc such as Istio. Istio team provide helm chart into their gitlab source code but they don't put it on public repository. So we use chartmuseum to do that.
Another use case for use is to be able to deploy chart event when Internet connection failed so we use can mirror helm chart into our cluster.

In both of this use case mono

[2018-08-30 18:16] prydonius commented on #486
@obeyler thanks for the explanation, to me those sound like in-cluster usecases that are better covered by a tool like Kubeapps. It's possible though, that with the [distributed chart repository model](https://github.com/helm/community/blob/master/proposals/distributed-search.md), someone will go and host the Istio chart in a public repository that you can pull from, and you could discover that on

[2018-08-30 19:19] jroucheton commented on #481
I am using the Nginx Ingress Controller accessing to url: https://192.168.99.100
It sounds strange because I don't see any error in pod logs.

[2018-08-30 20:15] prydonius commented on #481
This looks like a bug if the repo doesn't have a source

[2018-08-30 20:18] jroucheton commented on #481
Correct!
My repository has been set without any source tag.
After adding this one, it is working :+1:

Thanks!

[2018-08-30 20:26] prydonius commented on #481
Thanks for confirming @jroucheton, we should fix this!

[2018-09-07 13:27] prince-mishra commented on #471
I am getting the same error. @FengyunPan2 Can you please comment on how you got this fixed?

[2018-09-07 22:48] prydonius commented on #471
FYI next week I plan to work on the changes outlined in https://github.com/helm/community/blob/master/proposals/monocular-1.0-improvements.md, the existing API server implementation will be replaced.

[2018-09-10 12:38] zhusichuang commented on #486
@obeyler hello, have the problem been solved? I have the save problem.

[2018-09-10 13:08] obeyler commented on #486
@zhusichuang hello Not solved. and so on I'm trying another helm repository Artifactory today. I don't know yet if it'll be better.
So now we are 3 with same trouble (@ivanovaleksandar , @zhusichuang )
The first who find a working solution....

[2018-09-10 13:44] zhusichuang commented on #486
@obeyler I am very glad to recieve your reply. Now I have the contiditon that I can get the chart list from  the monocular api without doing anyting. But the list did't contain the charts I pushed within about two hours.

[2018-09-10 13:50] obeyler commented on #486
@zhusichuang I don't understand what you mean: Do you manage to connect chartmuseum to monocular ?
If yes could you share your yaml file ?

[2018-09-10 13:50] zhusichuang commented on #486
![image](https://user-images.githubusercontent.com/24446530/45301262-2d2a8e00-b543-11e8-8563-4e8559ccec3e.png)
There are only two charts been displayed,but I have more charts in my chartmuseum repository. @obeyler

[2018-09-10 13:55] zhusichuang commented on #486
apiVersion: v1
entries:
  chartmuseum:
  - apiVersion: v1
    appVersion: 0.7.1
    created: "2018-09-10T10:23:15.718730362Z"
    description: Helm Chart Repository with support for Amazon S3 and Google Cloud
      Storage
    digest: 1bf4440ec53cd0d09258c1e190f1f95621e66e094faf4553a299791976b1f94c
    home: https://github.com/chartmuseum/chartmuseum
    icon: https://raw.githubusercontent.com/cha

[2018-09-10 13:58] obeyler commented on #486
@zhusichuang  don't be worry for your english may I have the same.
How have you describe your chartmuseum repository into monocular ?

[2018-09-10 14:09] zhusichuang commented on #486
![image](https://user-images.githubusercontent.com/24446530/45302256-5b10d200-b545-11e8-9afe-4b33bcbae4a3.png)
@obeyler I just click the ADD button and enter the name and url. I dont't know whether you mean this.

[2018-09-10 14:14] obeyler commented on #486
are you debind a reverse proxy ?

[2018-09-10 14:19] zhusichuang commented on #486
Yes,  I do it because the ip can be arrived in our company's idc network.

[2018-09-10 14:37] obeyler commented on #486
![image](https://user-images.githubusercontent.com/23224162/45304144-bfb53800-b517-11e8-8756-251e0fc35b71.png)

neither first nor the second works for me :-(

[2018-09-10 21:55] sparty02 opened #497 "PANIC: runtime error: invalid memory address or nil pointer dereference"
After deploying monocular to my cluster, I navigated to the ui, which subsequently invoked the ```/v1/charts``` endpoint.  That endpoint returned the payload below:

[code]

[2018-09-10 23:44] prydonius commented on #471
@prince-mishra Monocular 1.0 plans to drop all support for in-cluster installations (see https://github.com/helm/community/blob/master/proposals/monocular-1.0-improvements.md#removing-in-cluster-support), it will focus on only having a read-only interface over chart repos. You might want to checkout http://github.com/kubeapps/kubeapps for what you're looking for.

[2018-09-10 23:49] prydonius commented on #486
Monocular will sync repositories every hour by default, and so you might need to wait for up to an hour before charts from a repository will be shown. This timeframe can be adjusted with this setting: https://github.com/helm/monocular/blob/master/deployment/monocular/values.yaml#L56.

In Monocular 1.0, syncs will happen immediately as repositories are added, and then once an hour from there. Howev

[2018-09-11 07:31] #486 closed

[2018-09-11 14:39] tellxp opened #498 "EACCES: permission denied, mkdir '/bitnami/mongodb/data'"
Cant start mongodb container...
kubectl logs is below:

[code]
Here is the issue at [bitnami-docker-mongodb](https://github.com/bitnami/bitnami-docker-mongodb/issues/103).

Seems it needs to upgrade monocular deps...

[2018-09-11 21:43] prydonius opened #499 "Add CronJobs to sync chart repositories to Monocular MongoDB database"
Update the chart to create CronJobs and Jobs to sync the chart repositories in the chart configuration using the chart-repo CLI tool.

[2018-09-11 21:44] prydonius opened #500 "Add chartsvc for chart metadata serving API"
Add chartsvc to be deployed with the Monocular chart and internally exposed via a Service.

[2018-09-11 21:45] prydonius opened #501 "Update Monocular UI to use chartsvc"
Replace API calls to the Monocular API server to use the chartsvc API.

[2018-09-11 21:46] prydonius opened #502 "Remove existing Monocular API implementation"
Once the UI is using the new API (#501), remove the existing Monocular API implementation codebase and from the chart deployment.

[2018-09-11 21:46] prydonius opened #503 "Remove in-cluster flags and code from Monocular UI"
Remove pages and functionality in the UI that is related to in-cluster features.

[2018-09-11 21:47] prydonius opened #504 "Remove in-cluster flag and values from Helm chart"
Remove in-cluster flag (releasesEnabled) in the Helm chart, and any other associated values.

[2018-09-11 21:48] prydonius opened #505 "Update documentation for Monocular 1.0"
We should update the documentation to state:

- The main goal of the project to support the CNCF Helm Hub
- The set of features Monocular has, what environments it makes sense to use it in
- Remove in-cluster documentation and point to available alternatives.
- Updated developer documentation

[2018-09-11 21:50] prydonius opened #506 "Update Monocular UI deps to fix reported vulnerability issues"
GitHub is reporting some vulnerabilities in outdated npm packages, we should update these to ensure we're not shipping vulnerable code.

We should manually test the app to ensure upgrading hasn't added any instabilities.

[2018-09-13 17:08] superralle69 opened #508 "Baremetal - Metallb - monocular"
Hello,
maybe someone can help me ? - I run a Kubernetes Cluster on bare metal. I also installed helm as a k8s package manager. - For access from the internet I have installed Metallb as k8s bare-metal loadbalancer.

Everything is going well. - Helm works, access from the internet to an installed nginx application over Metal-LB Loadbalancer also works good.

But now comes my problem. - I installed

[2018-09-13 22:33] #499 closed

[2018-09-17 19:58] #500 closed

[2018-09-18 22:14] prydonius opened #512 "UI: Remove package-lock.json in favour of yarn.lock"
Yarn complains during install due to the existence of the package-lock.json file which can potentially conflict with yarn.lock. We should remove this file since we use yarn.lock instead.

[2018-09-18 23:18] #512 closed

[2018-09-19 09:53] thatsk opened #517 "getting secrets is forbiddent."
When i try to install monocular i get the following error.
[code]
[code]
Also it can not delete.

[code]

[code]

[2018-09-19 11:00] cello86 commented on #492
I noticed the same issue with an error on every page from :

[code]

[2018-09-19 21:49] prydonius commented on #492
@cello86 that error is expected if authentication is disabled

[2018-09-19 21:51] prydonius commented on #517
@thatsk looks like you need to give Tiller greater privileges. Check out https://github.com/helm/helm/blob/master/docs/rbac.md for more info.

[2018-09-19 22:10] #501 closed

[2018-09-20 00:19] #502 closed

[2018-09-20 07:15] cello86 commented on #492
@prydonius I noticed also this error reported:

[code]

[2018-09-20 19:05] prydonius commented on #517
Hmm, it's possible that the cluster-admin ClusterRole in OpenShift doesn't support creating/reading secrets. You could try to configure a Role just for reading secrets in that tiller namespace and assign it to the serviceaccount in addition to the ClusterRole you've already assigned.

[2018-09-22 10:33] thatsk commented on #517
So i have created again.
cat tiller-role.yaml
[code]
cat tiller-rolebinding.yaml
[code]
[code]
[code]
[code]

[2018-09-22 10:37] thatsk commented on #517
Also when i am looking at logs of pods its trying to connect to monogodb
![image](https://user-images.githubusercontent.com/15324013/45916324-9e423d80-be81-11e8-9be1-ccf37e57e1ca.png)

[2018-09-22 10:45] thatsk commented on #517
@prydonius  Somehow mongo is not up.
and also it not showing in list.
![image](https://user-images.githubusercontent.com/15324013/45916375-9c2cae80-be82-11e8-94a9-9a95cde5754b.png)

[2018-09-22 10:45] thatsk commented on #517
https://blog.openshift.com/deploy-monocular-openshift/
i have follow this link also but no luck

[2018-09-22 10:48] thatsk commented on #517
When i see events of mongo its showing this.
![image](https://user-images.githubusercontent.com/15324013/45916397-207f3180-be83-11e8-8d24-311cff4d7ec0.png)

[2018-09-25 23:36] #503 closed

[2018-09-25 23:36] #504 closed

[2018-09-26 21:02] rjain15 opened #528 "Unable to connect to Mongodb"
I install using helm
`helm install monocular/monocular`

The PVC is created, I have the nginx ingress controller. I see the Pods, Services, PVC created and bound
`kubectl get pvc` shows the PVC on 9G and status as bound

But the API pod is crashing. Checking the Error logs, I see a fatal error message
"unable to connect to MongoDB" host="lumpt-ra-mongodb:27017"

My question, do I need to deploy a

[2018-09-26 22:05] rjain15 commented on #528
⇒  helm status monocular
LAST DEPLOYED: Wed Sep 26 18:02:44 2018
NAMESPACE: default
STATUS: DEPLOYED

RESOURCES:
==> v1/Secret
NAME               TYPE    DATA  AGE
monocular-mongodb  Opaque  1     47s

==> v1/ConfigMap
NAME                            DATA  AGE
monocular-monocular-api-config  1     47s
monocular-monocular-ui-config   1     47s
monocular-monocular-ui-vhost    1     47s

==> v1/Persi

[2018-09-26 22:28] rjain15 commented on #528
I will have to dig into this, https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#securitycontextdeny

[2018-09-26 23:34] prydonius commented on #528
@rjain15 ah interesting, I think by default MongoDB is setting the security context to run as a non-root 1001 user.

[2018-09-27 02:31] rjain15 commented on #528
I changed the setting on the controller to allow privileged user ,and it started up the pod. But now I facing another issue. For some reason their seems to be a readiness probe which is trying to connect to 127.0.0.1:27017

----

error
monocular-mongodb-7bf4bfb798-2jh9w
vm-47dd3a98-7580-412d-665c-560a531b6a00
Waiting: CrashLoopBackOff
3
3 minutes
 0
 40 Ki
pod has unbound PersistentVolumeClaims (r

[2018-09-27 20:50] #505 closed

[2018-09-27 20:51] prydonius opened #531 "Move chartsvc and chart-repo code into tree"
Move chartsvc and chart-repo codebases into this repo. We also need to setup CI to build and push these images.

[2018-09-27 20:57] prydonius commented on #528
@rjain15 hmm, that shouldn't be failing. Are you able to run MongoDB by itself (helm install stable/mongodb)?

[2018-09-27 22:48] prydonius commented on #506
closing this as the major ones (`marked` and a few others) have been upgraded. GitHub doesn't support yarn.lock so we will need to use another service to keep track of these.

[2018-09-27 22:48] #506 closed

[2018-09-27 22:57] prydonius opened #533 "Move Monocular images to quay.io"
Move Monocular images to https://quay.io/organization/helmpack

[2018-09-28 12:43] rjain15 commented on #528
I believe this is a problem with the mongodb from the bitnami repo. I
changed the repo to  https://kubernetes-charts.storage.googleapis.com and
used the mongodb from this repo and it worked. I also tried running on GKE
to double check if this was on my local cluster, and it was failing on GKE.

So here is my analysis, I haven't compared what is the difference between
the chart on the bitnami repo

[2018-09-28 18:15] prydonius commented on #528
@rjain15 we're pointing to the chart from that repo: https://github.com/helm/monocular/blob/master/chart/monocular/requirements.yaml#L4 but perhaps there's a newer version we can upgrade to that fixes these issues.

[2018-09-28 22:28] rjain15 commented on #528
I am closing this issue, since I moved to another Mongodb chart from kubernetesio instead of bitnami

[2018-09-28 22:28] #528 closed

[2018-09-29 01:07] prydonius commented on #528
@rjain15 in order to help future users, it would be great to know what version and which chart you are using. I'm not sure what you mean since the Monocular chart is pointing to the Helm stable/mongodb chart and not the Bitnami repo, but it is the same chart.

[2018-10-01 07:31] WillMoverley opened #538 "corporate proxy"
Hi,

My Monocular is on a kube cluster behind a corporate proxy, i suspect that i'm having issues pulling available helm charts, and a constant swirling wheel due to this fact.

What should i do to make Monocular work behind a proxy?

Thanks in advance.

[2018-10-06 21:58] Dean-Coakley commented on #72
@prydonius I was going to pick up this issue but looks like the file mentioned was deleted in: https://github.com/helm/monocular/pull/518

Is this to be closed? Or can you give me directions on how to proceed?

[2018-10-08 12:36] jroucheton opened #541 "quay.io/helmpack/monocular-ui:v0.7.3 not found"
Chart for monocular: v0.6.5

The following issue is raised after deploying chart:

`Failed to pull image "quay.io/helmpack/monocular-ui:v0.7.3": rpc error: code = Unknown desc = Error response from daemon: manifest for quay.io/helmpack/monocular-ui:v0.7.3 not found
`

As a matter of fact, v0.7.3 is not available under quay.io/helmpack.
It sounds that the _ui module_ does not care about the default

[2018-10-08 14:27] jroucheton opened #542 "Cannot use monocular behind a proxy"
This issue for explaining that we cannot use monocular behind a proxy.

**WHY?**
Because, we cannot add a proxy though values.yaml
The new delivery (1.0) is based on jobs for synchronizing charts repositories.
A first one for the from scratch deployment and another one for the refresh mechanism.
Unfortunately, we cannot configure those jobs with dedicated proxy for downloading charts.

It will be

[2018-10-08 14:42] jroucheton commented on #538
I applied the same workaround.
Unfortunately, we cannot apply the same on with the latest release (v1.0) which is based on job...
I open an issue #542 for asking a parameter into values.yaml...

[2018-10-08 14:57] willuk2010 commented on #542
@jroucheton check this out,

https://github.com/kubeapps/kubeapps/issues/696

[2018-10-08 15:11] jroucheton commented on #542
Thanks @willuk2010
Nevertheless, this proposal concerns kubeapps.
I hope that we can have the same kind of improvement for [Monocular](https://github.com/helm/monocular).

[2018-10-08 17:33] prydonius commented on #542
@jroucheton I think this just requires adding a new value to configure those env vars in the Jobs/CronJobs? Happy to accept a PR that does that!

[2018-10-08 17:57] prydonius commented on #72
@Dean-Coakley indeed, the old API server that used the swagger spec has been replaced. Sorry for the confusion, I'll close this out!

[2018-10-08 17:57] #72 closed

[2018-10-08 18:08] #541 closed

[2018-10-18 08:39] erihanse opened #544 "File not found on nginx.conf"
We have a kubernetes cluster, and we're trying to install monocular on it. In the monocular-ui container we're getting a `/opt/bitnami/nginx/conf/nginx.conf` file not found. I'm not sure how to troubleshoot this. If I run the image: `docker run --rm -it -p 8080:8080/tcp -p 8443:8443/tcp quay.io/helmpack/monocular-ui:v1.0.0` it works.

[code]

[2018-10-18 08:47] erihanse opened #545 "helm install monocular gives no such image: "docker.io/quay.io/helmpack/chartsvc:v1.0.0"
When executing `helm install monocular/monocular` the chartsvc pods cannot retrieve the docker image.
I had to fetch the chart, and update in values.yaml:
from:
[code]
to:
[code]

[2018-10-22 12:52] erihanse opened #546 "Getting "Unauthorized: not authorized on admin to execute command" in mongodb"
The chartsvc pod doesn't seem to be able to connect to the mongodb instance. When I look at the logs, there seems that the root user is not set up correctly.
[code]

I've also tried to log in to the mongodb container:

[code]

I'm wondering, what is it really that initialises the access control?

[2018-10-24 10:56] prydonius commented on #546
@erihanse is persistence enabled? I've seen this issue happen sometimes when persistence is enabled in MongoDB.

[2018-10-24 10:57] prydonius commented on #545
@erihanse thanks, this is my mistake in the chart - registry should be changed to quay.io as you suggest.

[2018-10-24 11:54] erihanse commented on #546
I've tried both with and without. I see there is a file, mongodb-inputs.json. Maybe this is not read somewhere in the setup?

One other thing: Files mounted as configmap cannot be written to, see https://github.com/kubernetes/kubernetes/issues/61414#issuecomment-374832968. The way I go around this is to mount the configmap in an init container, and copy it to another directory mounted with emptyDi

[2018-10-24 15:02] tompizmor commented on #544
Hi @erihanse,

I am not able to reproduce the issue. Can you reply the following questions about your environment?

- How are you installing Monocular? Using the chart? If so, which version?
- What is your kubernetes cluster? (AKS, GKE, Minikube, ...)
- Did you made any change in the chart templates?
- Are you installing Monocular with any custom parameter?

[2018-10-24 15:14] tompizmor commented on #546
Hi @erihanse,

I couldn't reproduce this issue either. However, I have seen other users reporting similar issues and we applied some fixes in recent versions of the MongoDB chart.

I see that the latest version of the Monocular helm chart is using MongoDB chart 4.0.4 while the latest one is 4.6.2.

I would try updating the mongodb chart dependency version to see if that helps.

[2018-10-24 21:20] erihanse commented on #544
Managed to solve this. Think many issues arise since root filesystem is read-only. By the way, appreciate the help :+1:
Here are my changes:
[code]
Answering your questions anyway for completeness.

First I tried `helm install monocular/monocular`. At first it said it couldn't find the images, but that I guess will be adressed in #548. To fix these I fetched the chart, `helm fetch monocular/monocu

[2018-10-24 21:21] #544 closed

[2018-10-25 07:03] erihanse commented on #546
Tried it, to no avail.
[code]

[2018-10-25 08:36] erihanse commented on #546
Got it to work. Specified mongodb 4.6.2 version as dependency. Thanks!

[2018-10-25 08:36] #546 closed

[2018-10-25 10:13] obeyler opened #549 "ipv6 not disabled even with mongodbEnableIPv6"
![image](https://user-images.githubusercontent.com/23224162/47493383-69921f00-d84f-11e8-98ef-14199f616016.png)

even with parameter  mongodbEnableIPv6 set the ipv6 is requested by mongodb
inside my value.xml file
[code]

see inside the log :  **ipv6: true**
[code]

[2018-10-25 13:59] tompizmor commented on #546
Thanks for trying! Please reopen the issue if you can reproduce it again.

[2018-10-25 14:13] #545 closed

[2018-10-25 14:35] prydonius opened #551 "chart-repo and chartsvc never timeout connecting to MongoDB"
The timeout is not configured when connecting to MongoDB, and the chart-repo pods hang indefinitely. We should set the timeout or set a default one in the upstream datastore package.

[2018-10-25 16:10] #551 closed

[2018-10-29 18:15] prydonius commented on #549
hmm, looks like a bug in the upstream mongodb container, can you file a bug in https://github.com/bitnami/bitnami-docker-mongodb? Thanks!

[2018-10-30 08:18] obeyler commented on #549
I think they have already correct it as in kubeapps the mongodb works well.
Mongodb version in kubeapps and monocular are not same : 4.0.4 versus 4.3.7
see :
![image](https://user-images.githubusercontent.com/23224162/47704520-302d2b00-dc24-11e8-940c-4760b4f10b1a.png)

![image](https://user-images.githubusercontent.com/23224162/47704608-7e422e80-dc24-11e8-8944-fe8bc699744b.png)

I put the same par

[2018-10-30 09:28] obeyler commented on #549
Ok with an update it doesn't work but with a full install of 1.1.0 it works
![image](https://user-images.githubusercontent.com/23224162/47708507-84d5a380-dc2e-11e8-8f7b-1cf32dfb44d3.png)

[2018-10-30 09:28] #549 closed

[2018-10-30 15:16] prydonius commented on #549
@obeyler great, thanks - not sure why the upgrade didn't work though

[2018-10-30 15:52] #531 closed

[2018-10-30 15:52] #533 closed

[2018-10-31 16:10] #542 closed

[2018-10-31 16:12] #404 closed

[2018-10-31 21:41] prydonius opened #555 "Chart file metadata doesn't change for same version numbers"
As reported in https://github.com/kubeapps/kubeapps/issues/659, new chart packages for a specific chart version pushed after chart-repo has already synced the version are not updated. chart-repo assumes it has already been synced and skips it, but currently this is done based on the chart repo, name and version, and not on the digest.

https://github.com/kubeapps/kubeapps/issues/659 proposes that

[2018-11-09 06:18] LinuxSuRen opened #560 "Missing Chinese localization support"

[2018-11-16 02:18] prydonius opened #564 "chartsvc needs SSL certs to connect to mongodb over SSL"
When trying to connect Monocular to the CosmosDB instance for the Helm Hub, the `chart-repo` command was successfully connecting whilst `chartsvc` was unable to connect (with the error `no reachable servers`). The reason is that `chart-repo` is copying ca-certs, whereas `chartsvc` isn't, and `chartsvc` is therefore unable to verify the server's CA: https://github.com/helm/monocular/blob/20fed33f73

[2018-11-17 00:29] #564 closed

[2018-11-17 21:39] medined opened #566 "CronJob Name Too Long - must be no more than 52 characters."
I ran a helm command to install monoclar:

[code]

which resulted in the following message.

[code]

[2018-11-17 22:12] medined opened #567 "mongodb fail - unable to validate against any security context constraint"
I am trying to install monocular into v3.11 OpenShift. After running the helm install, I am seeing the following message for the monocular-mongodb deployment. Of course, other deployments are failing because Mongo is not available.

[code]

[2018-11-20 19:19] prydonius commented on #567
@medined can you try setting `mongodb.securityContext.enabled=false` when installing Monocular?

[2018-11-21 18:18] prydonius commented on #567
@medined that looks good to me. Note you will need to access the Monocular UI and chartsvc service on the same host/IP using an Ingress resource for this to also work correctly: https://github.com/helm/monocular/blob/c9161bc61fa2cb320b89753aa0d72b359eb5b88c/chart/monocular/templates/ingress.yaml#L17

[2018-11-22 04:46] medined commented on #567
I don't yet understand your comment about using an Ingress service. I am still researching. However, I think I have made a bit of progress since I can reach the monocular UI but **the middle part of the page just has the spinning circle icon. Does that mean the app is waiting for a response from a service?**

My installation steps have changed so let me restate them. After SSH'ing to the master no

[2018-11-26 18:09] prydonius commented on #567
Yes, this is expected if you access the UI directly. The problem is that the frontend is configured to talk to the API at `/api`, but when you just use the UI service the API service won't be exposed there. This is why you need the Ingress resource and a compatible ingress controller (more info about Ingress here: https://kubernetes.io/docs/concepts/services-networking/ingress/). Unfortunately thi

[2018-12-05 00:39] prydonius opened #570 "Deal with duplicate digests from different repositories in chartsvc"
Some chart repositories might contain duplicate charts that exist in other repositories. One example of this is the Bitnami charts repository, which syncs several charts from the Helm stable repository. In Monocular, when both repositories are added, multiple entries will be seen in the UI for the same charts (though listed as being from different repositories). This comes across as confusing, and

[2018-12-06 15:35] mattfarina opened #574 "How to approach hub styling?"
The hub will have theme customization's to content (e.g., the footer links). There are 3 ways we can approach this...

1. Fork the UI. I put it here but do not want to do this
2. Pass in the content similar to the way the name is passed in. This makes complicated things like the footer hard
3. Allow templates to be passed in that override defaults

There may be another method. Is there any prefere

[2018-12-06 16:58] prydonius commented on #574
cc @Angelmmiguel in case you have any thoughts on this. It may also be fine to just change Monocular directly to be styled for the Hub, if making things configurable is going to be too difficult. I don't know if the current footer links necessarily make sense for other users using Monocular, since they were designed for the original Kubeapps Hub.

[2018-12-12 13:54] Angelmmiguel commented on #574
Hello @prydonius @mattfarina,

Adding basic customizations like names or logos it's easy. We can use a simple JSON file to define these values and use it in the project. The complexity of the code will depend on the changes you want to perform. For example, if the main changes are the name of the application, the logo and the footer links, you can create a simple JSON file to afford it:

[code]

F

[2018-12-12 14:22] lambertjosh opened #577 "SVG icons are not displayed"
First, thanks for this great project! In doing a bit of testing, our `gitlab` chart uses an SVG for its icon. Unfortunately it is not displayed: https://hub.helm.sh/charts/gitlab/gitlab

According to the spec, SVG's are supported: https://github.com/helm/helm/blob/master/docs/charts.md#the-chartyaml-file

Would be great if SVG's were shown!

[2018-12-17 23:22] prydonius commented on #577
Thanks for the bug, this would be really cool! We currently download the icons and post-process them (currently just converting to PNG and resizing to 160x160), so we would need to change this to either convert the SVG to PNG so everything else stays the same, or store the SVGs and display them differently in the frontend. I'm not sure we really need to preserve the SVG, so converting to PNG might

[2018-12-20 10:08] Dean-Coakley opened #580 "Install command truncated"
From: https://github.com/helm/hub/issues/26

Expected:
![image](https://user-images.githubusercontent.com/15719653/49823367-64455100-fd77-11e8-9d92-43d7d1b85ceb.png)

Actual:
![image](https://user-images.githubusercontent.com/15719653/49823335-54c60800-fd77-11e8-95ff-73cbf4ef0ab9.png)

Fixed by removing:
[code]

I'd love to tackle this issue myself, but not sure if I am able to in the best way.

[2018-12-20 21:09] prydonius commented on #580
Thanks for finding the fix @Dean-Coakley, I'd be happy to accept a PR from you to just remove the rule in https://github.com/helm/monocular/blob/master/frontend/src/app/chart-details/chart-details-usage/chart-details-usage.component.scss#L25. Let me know if you need any help with contributing!

[2018-12-21 02:15] Dean-Coakley commented on #580
@prydonius Haven't been able to test this yet. Is there a nice way to test without the use of `telepresence`? It's causing issue for me.

[2018-12-27 10:14] ns500 opened #584 "chart-repo docker build error"
Sending build context to Docker daemon  51.71kB
Step 1/10 : FROM golang:1.11 as builder
 ---> 2422e4d43e15
Step 2/10 : COPY . /go/src/github.com/helm/monocular
 ---> Using cache
 ---> 56f632874749
Step 3/10 : WORKDIR /go/src/github.com/helm/monocular
 ---> Using cache
 ---> 19854b5d2971
Step 4/10 : ARG VERSION
 ---> Using cache
 ---> 7528a73acc9e
Step 5/10 : RUN CGO_ENABLED=0 go build -a -installs

[2018-12-27 11:13] prydonius commented on #580
@Dean-Coakley hmm, what `telepresence` command are you running? You shouldn't be in the bitnami/nginx container, you should be inside a NodeJS container built from https://github.com/helm/monocular/blob/master/dev_env/ui/Dockerfile.

[2018-12-28 18:18] Dean-Coakley commented on #580
@prydonius I ran

`telepresence --swap-deployment dev-monocular-ui --namespace monocular --expose 4200:8080 --docker-run --rm -ti -v $(pwd)/frontend:/app quay.io/helmpack/monocular-ui bash`

Following along: https://github.com/helm/monocular/blob/master/docs/development.md#starting-monocular-development-server

[2018-12-28 18:51] prydonius commented on #580
@Dean-Coakley you need to first build the development container, see the `docker build` command above the `telepresence` command. The image used in the chart is different to the one that needs to be used in deployment.

[2018-12-28 22:07] Dean-Coakley commented on #580
@prydonius Oh, apparently I was accidentally building the image outside of my minikube cluster and then trying to use it in the cluster. 😬 Thanks!

Now I see the dev server but chart-svc is 404-ing so I can't see any charts UI.

Are there more prerequisites?
[code]

[code]

[code]

Sorry for all the hassle!

[2018-12-29 02:32] ns500 opened #585 "Self-signed certificate problem"
time="2018-12-29T02:19:29Z" level=error msg="error requesting repo index" error="Get https://harbor.com/chartrepo/test/index.yaml: x509: certificate signed by unknown authority" url="https://harbor.com/chartrepo/test/index.yaml"
time="2018-12-29T02:19:29Z" level=fatal msg="Can't add chart repository to database: Get https://harbor.com/chartrepo/test/index.yaml: x509: certificate signed by unknown

[2018-12-29 07:03] ns500 commented on #585
I solved this problem by copying the Linux system's root certificate into the images.

[2019-01-02 15:44] prydonius commented on #580
@Dean-Coakley No worries, sorry for the delay in responding! Have you run a `helm upgrade` on the chart? That might explain why chartsvc can't authenticate correctly with MongoDB, as `helm upgrade` will regenerate the secret for MongoDB (see https://github.com/helm/helm/issues/3053). To get both MongoDB and chartsvc to pick up the new password, you delete the MongoDB pod and all the chartsvc pods

[2019-01-02 16:15] prydonius commented on #585
@ns500 hmm, the image already pulls in the certs from the golang base image, could this be improved? https://github.com/helm/monocular/blob/master/cmd/chart-repo/Dockerfile#L9

[2019-01-03 05:31] ns500 commented on #585
Ok, I'll try.

[2019-01-03 05:32] #585 closed

[2019-01-04 10:03] ns500 opened #587 "Use self-signed certificate repository"
Rebuild chart-repo images:
1、Generate a self-signed ca certificate
2、Copy your ca certificate to monocular root directory
3、modify Dockerfile file
FROM golang:1.11 as builder
COPY . /go/src/github.com/helm/monocular
WORKDIR /go/src/github.com/helm/monocular
RUN cat ca.crt >> /etc/ssl/certs/ca-certificates.crt
ARG VERSION
RUN CGO_ENABLED=0 go build -a -installsuffix cgo -ldflags "-X main.version=$V

[2019-01-04 10:30] prydonius commented on #587
@ns500 does this work for you? Note that chart-repo will also read additional CAs from `/usr/local/share/ca-certificates/ca.crt` https://github.com/helm/monocular/commit/2a4cbdcc1e583495e3be2ded3a94a643b504192a#diff-dd464ab7a9989bed9c6a3801d51ade13R50, so you can also mount your custom CA as a configmap into that path

[2019-01-04 10:48] ns500 commented on #587
Great, thanks for your help.

[2019-01-04 10:48] #587 closed

[2019-01-04 17:28] mattfarina opened #588 "Scaling Monocular"
Now that monocular is being used for the Helm Hub we need to look at scaling the Helm Hub. There are two things that come to mind in terms of vertical content scaling:

1. The UI needs to be able to visualize many more charts and repositories. For example, what happens when the homepage has over 1,000 charts or the charts page has 50 repositories?
2. We need to scale the data transfer. Currently,

[2019-01-04 17:32] mattfarina commented on #588
My first thought in solving this is to look at creating Monocular 2.0 and make some breaking changes that:

* Update the homepage to list things like newly added charts and recently updated charts
* Only send the charts that are needed to the browser when they are needed. Essentially, shift the filtering to be server side
* Update the UX to handle many orgs and only send the ones that are needed o

[2019-01-04 17:33] mattfarina opened #589 "Search API"
One of the use cases for the community stable repository is that all the charts there are easily discoverable by default. stable is added by default so `helm search` can query for all of those charts.

With the helm hub it would be nice to continue to have the ability to search the charts in the hub.

If we do a redesign for vertical scale (as noted in #588) we could add a search API endpoint and

[2019-01-07 01:43] Dean-Coakley commented on #580
Deleting all the pods seemed to work. But after the telepresence command I get into a blank container.
`$app# ls`

The telepresence command only works on terminal sessions **without** running `eval $(minikube docker-env)` beforehand.

I build my own image first with `$ docker build -t monocular_ui ./dev_env/ui`. I get into container with blank directories even when building the image from master.

[2019-01-07 15:41] prydonius commented on #588
+1, I think the first step would be to implement pagination on the server side so that we only fetch a certain number of charts each time.

[2019-01-07 15:44] prydonius commented on #580
What directory are you running your telepresence command from? Make sure you're running it from the root for the volume mount to be correct, or change it as appropriate.

 `-v $(pwd)/frontend:/app` or  change it to `-v $(pwd):/app` if you're already in the frontend dir.

[2019-01-07 20:43] Dean-Coakley commented on #580
@prydonius Yes! I was able to test and I'm happy with my changes! Thanks so much

[2019-01-14 09:43] rimusz opened #594 "Improvement: Show repo name as a namespace"
As Hub is growing with more and more repos, it would make sense to show show repo name as a namespace e.g. `bitnami/consul` instead of just `consul`
![screenshot 2019-01-14 09 41 41](https://user-images.githubusercontent.com/5215395/51105338-9f0c3000-17e0-11e9-967b-b297199cc475.png)

![screenshot 2019-01-14 09 41 41](https://user-images.githubusercontent.com/5215395/51105429-d975cd00-17e0-11e9-8ff

[2019-01-15 12:35] andresmgot opened #591 "Charts with svg icons are not shown"
If a chart contains a SVG icon (e.g. `auditbeat` which icon is `https://www.elastic.co/assets/blt27d1fd26b0862613/icon-auditbeat-bb.svg`) it fails to get imported:

[code]

This causes that the chart logo not to be shown.

cc/ @prydonius

[2019-01-21 11:16] fhchina opened #593 "release monocular failed: Ingress.extensions "monocular-monocular" is invalid: spec.rules[0].host: Invalid value: "<nil>": a DNS-1123 subdomain must consist of lower case alphanumeric characters, '-' or '.', and must start and end with an alphanumeric character (e.g. 'example.com', regex used for validation is '[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*')"
When I running:

helm install monocular/monocular --name monocular --version 1.2.0

I got the following errors:

release monocular failed: Ingress.extensions "monocular-monocular" is invalid: spec.rules[0].host: Invalid value: "<nil>": a DNS-1123 subdomain must consist of lower case alphanumeric characters, '-' or '.', and must start and end with an alphanumeric character (e.g. 'example.com', rege

[2019-01-26 12:15] gprashanthkumar opened #596 "helm monocular install error DNS-1123 subdomain violation error"
I know its reported 5 days back under [593 ](https://github.com/helm/monocular/issues/593)but its closed. so i am raising again

OS : Ubuntu 16. LTS

$ helm version
Client: &version.Version{SemVer:"v2.12.1", GitCommit:"02a47c7249b1fc6d8fd3b94e6b4babf9d818144e", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.12.1", GitCommit:"02a47c7249b1fc6d8fd3b94e6b4babf9d818144e", GitTreeState:"clean

[2019-02-03 02:08] jecho commented on #596
it looks like ingress is enabled by default and you haven’t set any values for it.

try:
$ helm install --name=mono monocular/monocular --set ingress.enabled=false

[2019-02-13 14:42] #596 closed

[2019-02-18 21:14] lemaral opened #600 "Turn off .chart-details-usage"
I would like to document the chart usage instructions only in the chart README, and so to not confuse users I would like to hide the chart details usage. Basically this:
.chart-details-usage {
  display: none;
is enough, so I wonder if it could be possible to add a configuration for this (instead of hard-coding).
Thanks

[2019-02-19 13:24] pho-enix opened #601 "REGRESSION: $HTTP_PROXY is not honored"
Cause by https://github.com/helm/monocular/commit/2a4cbdcc1e583495e3be2ded3a94a643b504192a

[2019-02-19 19:36] #594 closed

[2019-02-19 19:40] prydonius commented on #600
I think that could be useful, we can add a boolean option for this in https://github.com/helm/monocular/blob/master/frontend/src/assets/js/overrides.js#L6 for `showChartUsage` and use that in the ChartDetailsInfo component to hide https://github.com/helm/monocular/blob/master/frontend/src/app/chart-details/chart-details-info/chart-details-info.component.html#L3.

[2019-02-19 19:45] prydonius commented on #601
Thanks @pho-enix, merged!

[2019-02-19 19:45] #601 closed

[2019-02-19 20:18] lemaral commented on #600
Thanks!
Following your guidance, I can do the PR if it's ok

[2019-02-19 22:19] prydonius commented on #600
@lemaral that would be amazing!

[2019-02-20 16:04] rimusz commented on #594
awesome, thank you

[2019-02-21 22:33] prydonius opened #603 "chart-repo: panics when there are no charts to import"
First reported on Slack (https://kubernetes.slack.com/archives/C9D3TSUG4/p1550784319000900), it looks like if https://github.com/helm/monocular/blob/v1.2.0/cmd/chart-repo/utils.go#L100 comes back with an empty list (if there are no entries in the index.yaml, or all charts are deprecated), then https://github.com/helm/monocular/blob/v1.2.0/cmd/chart-repo/utils.go#L260 results in a panic as it tries

[2019-02-22 02:37] duckzhouya commented on #453
I got the same problem as you.How did you solve this problem?
"Unexpected token < in JSON at position 0" showed in debug mode of chrome.

![screenshot from 2019-02-22 10-36-30](https://user-images.githubusercontent.com/6919644/53215938-d4345980-368d-11e9-8c70-1cc90a4fbe15.png)

[2019-02-22 22:00] CajuCLC commented on #546
So, how did you use 4.6.2 if latest version is 4.0?

[2019-02-22 22:04] erihanse commented on #546
It's the chart version.

[2019-02-22 22:14] CajuCLC commented on #546
Got it. Thanks.

[2019-03-05 07:14] srueg opened #608 "Notifications for new Releases"
I would be interested in receiving notifications for new Helm chart releases. This could be email and (Slack) webhook based. Is this something that fits into the road map of monocular and maybe even the Hub?

[2019-03-05 21:23] prydonius commented on #608
Thanks for the suggestion, I think this could be an interesting fit in the Hub as a sort of "watch" or "subscribe" feature on a chart.

[2019-03-05 21:25] srueg commented on #608
Yes, exactly. I'm having a hard time to keep up with chart updates, or even noticing them.

[2019-03-07 20:45] cpoole opened #610 "Ingress issues with ingress-nginx > 0.22"
According to https://github.com/kubernetes/ingress-nginx/tree/master/docs/examples/rewrite#rewrite-target

The rewrite target now requires the capture groups to be explicitly declared...

But now the paths will only work with ingress-nginx. this wont work for istio or traefik.

I can parameterize this if there's interest?

[2019-03-07 20:51] cpoole opened #612 "Display chart templates"
It would be really nice to display the chart templates in a tab or second page under the chart page.

I find myself mostly just using github to view charts because reading the templates is usually required to really figure out what is happening.

I'd be happy to add an untar and save the templates into mongo if that would be accepted.

[2019-03-08 21:44] prydonius commented on #612
We used to have a way to point to the source on GitHub, but this is difficult to do with more repositories as they don't all follow the same structure as the stable and incubator repositories. I definitely agree that this was a useful feature, it's very helpful to easily be able to dig into the chart templates from the Hub.

Storing this in MongoDB on sync and serving this could be good, though I'

[2019-03-08 22:02] #610 closed

[2019-03-08 22:03] prydonius commented on #610
Shame it's not backwards compatible - thanks!

[2019-03-08 22:25] cpoole commented on #612
Yep, that was my thought. Adding this to the sync job to untar the charts and save to mongo sounds the easiest.

I can put together a formal proposal this weekend, but some quick napkin math says

As an upper bound we can assume all charts are 1MB gzipped (configmap limit) + 40% for uncompressed storage.

There are 543 charts right now on helm hub, so keeping just the current version (or latest n

[2019-03-08 23:13] prydonius commented on #612
@cpoole thanks for the quick thoughts, that definitely doesn't sound too concerning. I didn't consider storing templates for previous chart versions. It would be interesting to be able to see changes between versions. For simplicity, we may just want to start with just storing the templates from the latest version, but keep historical versions in mind when designing the data structure.

Look forwa

[2019-03-12 02:59] lou-lan opened #613 "Open monocular blank page"
[code]

custom.yaml
[code]

<img width="1391" alt="屏幕快照 2019-03-12 10 37 36" src="https://user-images.githubusercontent.com/13095837/54171547-adf82180-44b5-11e9-8fd9-c64578ca8fbb.png">

[2019-03-12 18:18] prydonius commented on #613
@lou-lan the console errors you're seeing typically indicates that you're not accessing Monocular correctly. I am guessing you're accessing it through the Ingress given you're setting a host, but could you provide some more info about your setup? What Ingress controller are you using, for example?

[2019-03-13 03:56] lou-lan commented on #613
I used nginx-controller, kubeadm, but the `controller.hostNetwork=true` is not set

cat nginx-ingress.yaml
[code]

[code]

cat custom.yaml
[code]

[code]

dns `monocular.xxx.me` -> `172.16.103.2`

[2019-03-13 13:06] mattfarina opened #614 "Search is broken in some situations"
The details are on https://github.com/helm/hub/issues/55

[2019-03-13 13:13] mattfarina commented on #613
@prydonius I just upgraded the helm hub to 1.5.0, using the chart, and had the same problem.

[2019-03-13 23:15] prydonius commented on #613
What version of the nginx ingress controller are you using? https://github.com/helm/monocular/pull/611 updated the Ingress to work with 0.22.0+, but I just realised that this change may not be backwards compatible.

[2019-03-14 07:17] lou-lan commented on #613
I have updated the Ingress，now access correctly.

[2019-03-14 07:17] #613 closed

[2019-03-14 18:22] prydonius commented on #613
@lou-lan good to know, thanks. Sorry, we should have bumped the major version of the chart for that change.

[2019-03-15 17:56] #614 closed

[2019-03-25 18:38] rimusz opened #618 "hub.helm.sh shows same date for all chart releases"
https://hub.helm.sh shows same release date for all chart releases
![Screenshot 2019-03-25 18 36 12](https://user-images.githubusercontent.com/5215395/54945156-1a026d00-4f2d-11e9-9378-e551284ecb08.png)

[2019-03-26 09:14] arapulido commented on #618
@rimusz this comes from your chart repo information: https://charts.rimusz.net/index.yaml You can see that the date is the same for every version. Monocular just renders what's in there. You can fix the index.yaml to fix it.

[2019-03-26 11:47] rimusz commented on #618
gotcha, thanks

[2019-03-26 11:47] #618 closed

[2019-03-28 17:56] rlewkowicz commented on #613
@prydonius

I'm having this same issue with nginx-ingress-controller:0.23.0. Helm deployed ingress, all the pods look healthy. Same browser errors as op

[2019-03-30 17:34] Dean-Coakley commented on #603
@prydonius This can be closed?

[2019-04-01 17:45] alexcurtin commented on #392
+1

[2019-04-04 13:44] mattiaperi commented on #566
Hi all, as @medined, I'm facing the same issue:
`$ helm install monocular/monocular
Error: release terrifying-grasshopper failed: CronJob.batch "terrifying-grasshopper-monocular-sync-scheduled-incubator" is invalid: metadata.name: Invalid value: "terrifying-grasshopper-monocular-sync-scheduled-incubator": must be no more than 52 characters`

`$ echo "terrifying-grasshopper-monocular-sync-scheduled

[2019-04-22 13:59] mattfarina opened #620 "Handle missing Readme"
When there is no readme (e.g., https://hub.helm.sh/charts/banzaicloud-stable/cadence) we need to handle that gracefully.

[2019-04-22 14:01] mattfarina commented on #620
Note, this example may go away as [I asked them to fix it](https://github.com/banzaicloud/banzai-charts/issues/763).

[2019-04-23 14:12] Dean-Coakley commented on #566
@mattiaperi I am working on resolving this issue, however I'm getting.
`must be no more than 63 characters`
and have validated that it works for me up to 63 characters. I installed a release with name of 18 chars.

Are both of you possibly on an old helm release?
[code]

[2019-04-23 14:40] Dean-Coakley commented on #566
Nevermind, if the name is far too long it will fail on `spec.template.labels`
Otherwise it will fail on
`metadata.name` of the cronjob at 52 chars as you've described

[2019-04-23 16:06] Dean-Coakley commented on #620
I may give this a shot, how would you like it handled @prydonius ?

[2019-04-23 16:56] mattfarina opened #622 "Replace MongoDB"
When MongoDB changed their license it made the case for us operating it, for the Helm Hub, to need to use something else. We can't use the newer versions, or so I'm told.

I would suggest replacing MongoDB with PostgreSQL. It now can handle documents and, if I understand what I read right, it's the foundation for the MongoDB API compliant service that Amazon operates.

In any case, the idea is to

[2019-04-24 21:03] prydonius commented on #620
That would be great, @Dean-Coakley. The example has been fixed now, so I'm not sure, but we might just need to make sure we're catching the 404 response and rendering an error.

[2019-04-30 17:18] mattfarina commented on #620
In handling the error it would be useful to share that no readme is available to display.

[2019-04-30 17:46] mattfarina opened #624 "API url paths"
This is per a conversation with @prydonius in the charts chat meeting.

The current APIs expose the internals for how monocular works. For example, search is at `/api/chartsvc/v1/charts/search?q=[term]`. This happens via [ingress rules](https://github.com/helm/monocular/blob/a3affd45435cce2403a6ce20bfac3922403d2da9/chart/monocular/templates/ingress.yaml#L16-L27) that are part of the chart.

In add

[2019-05-01 17:35] prydonius commented on #624
@mattfarina see my comments in https://github.com/helm/monocular/pull/623#issuecomment-488060640 which addresses some of this also.

[2019-05-06 16:18] zhangshuiyong commented on #245
+1

[2019-05-07 19:50] mattfarina opened #626 "Jobs with uppercase letters"
If a repo name has uppercase letters in it the jobs will fail. I just got the following as part of an error:

This means names like "stable" will work but names like "Microsoft" will fail because of the uppercase letter.

[2019-05-07 21:50] prydonius commented on #245
Closing this out at Monocular no longer includes in-cluster features (https://github.com/helm/monocular#looking-for-an-in-cluster-application-management-ui). If this is what you're looking, checkout [Kubeapps](https://github.com/kubeapps/kubeapps) which supports this.

[2019-05-07 21:50] #245 closed

[2019-05-08 08:40] shanquan commented on #492
I met the same problem, and I also find that outside the cluster  run `curl $(addressIP)/vendor.be7b2a3ce592e457b68c.bundle.js` get the same response with `curl $(addressIP)`,  and when I run `kubectl run curl --image=radial/busyboxplus:curl -it` and `curl $(ClusterIP)/vendor.be7b2a3ce592e457b68c.bundle.js` can get the right response of the js file.

then I run `kubectl logs -f dozing-catfish-ngin

[2019-05-08 17:21] prydonius commented on #492
@shanquan I think the issue is that you have an older version of the nginx ingress controller, 0.22.0+ requires capture groups to be defined. See https://kubernetes.github.io/ingress-nginx/examples/rewrite/#rewrite-target

[2019-05-13 07:27] kevingimbel opened #630 "[UX] Anchor navigation on detail pages"
Hello,

I just noticed that there are no `id`s assigned to the `h1`, `h2`, `h3`, ... headlines rendered from the README.md files. This means I cannot link to the configuration section on hub.helm.sh (https://hub.helm.sh/charts/stable/traefik) but can do so on GitHub (https://github.com/helm/charts/tree/master/stable/traefik#configuration).

Would it be possible to render these? I haven't looked in

[2019-05-27 07:53] FengyunPan2 opened #632 "Don't return error when repos have no chart"
When I add a empty repos into kubeapps, then I get a error pod.

# kubectl logs apprepo-sync-chartmuseum-q97wv-jjsgh  -n kube-system
time="2019-05-27T07:52:31Z" level=fatal msg="Can't add chart repository to database: no charts in repository index"
# kubectl get pod -n kube-system | grep apprepo-sync-chartmuseum
apprepo-sync-chartmuseum-q97wv-jjsgh                          0/1     Error       1

[2019-05-30 17:35] #577 closed

[2019-05-30 17:35] #591 closed

[2019-06-10 14:30] Shark-y opened #634 "Monocular UI in custtom cluster w/ flannel network and external mongo DB hangs fetching charts"
Hi,

I installed your SW using your instructions in my own custom cluster using the flannel network with my own mongodb instance runing as a NodePort service

1) All pods install OK
3) Charts SVC connects to mongo DB - OK
2) The sync pod uploads charts to the mongo DB - OK (I can see the docs using Compass)
3) UI installs OK
4) When I access the UI using the node port the paciefier hangs unable to

[2019-06-10 17:10] prydonius commented on #634
What node port are you using to access the UI? It should be the node port of your ingress controller. Can you see if there are any errors in the Network tab of your browser?

[2019-06-21 07:56] buzai commented on #426
@timurkhafizov how to fix this error?

[2019-06-21 08:09] buzai opened #635 "Uncaught SyntaxError: Unexpected token <"
system osx
i use docker.img app to install k8s.
use brew install helm

[code]

kubectl get pods --watch
[code]

kubectl get svc
[code]

[2019-06-21 08:10] buzai commented on #635
error is

[code]

[2019-06-21 08:11] buzai commented on #635
and all of css and js url return

[code]

[2019-06-21 08:13] buzai commented on #635
nginx-ingress logs
[code]

[2019-06-21 08:14] buzai commented on #635
ui logs
[code]

[2019-06-25 19:47] nwmac commented on #622
@mattfarina We are interested on using Monocular on the SUSE Stratos project (https://github.com/SUSE/stratos), but also can not use MongoDB due to the license change.

Would you consider refactoring Monocular to have a data-store abstraction layer under which different back-end repositories could be implemented?

Also, have you considered FoundationDB DocumentDB layer (https://www.foundationdb.or

[2019-07-02 17:54] mattfarina opened #636 "Update chart to stable resources"
The resources in the chart are pre-GA (e.g., `extensions/v1beta1`). GA versions exist (e.g., `apps/v1`) and Kubernetes is planning to stop accepting the older versions at the API in the near future. So, the chart should be updated to the new resource versions.

[2019-07-03 01:15] #635 closed

[2019-07-17 03:07] jessehu opened #638 "Support case insensitive readme file in charts"
This is a issue reported by Kubeapps https://github.com/kubeapps/kubeapps/issues/617.
Sometimes the chart creator uses the name 'README.md', 'readme.md' or 'Readme.md'. We can make small change in chart-repo to support these names in chart-repo.

[2019-07-17 11:28] #638 closed

[2019-08-07 14:08] uwehdaub commented on #490
Why is https://helm.github.io/monocular/ down.
Where can I get a published version of the helm chart?

[2019-08-08 18:30] mattfarina commented on #622
@nwmac We would consider FoundationDB

[2019-08-12 13:10] asatrya commented on #635
@buzai did you find the solution? if so, could you please share it? I have similar issue

[2019-08-13 02:48] buzai commented on #635
@asatrya i rm  my helm, and reinstall helm , and add azure.cn/kubernetes/charts/ repo, i think my old helm repo has some old charts that cant work with new k8s. so i think the most import is charts version and  k8s version

[2019-08-20 06:27] #417 closed

[2019-08-20 17:23] brunowego commented on #585
I'm solved this rebuilding the image with my certificates.

Perhaps adding a new attribute passing the cert, like this:

[code]

[2019-10-02 14:50] martinheg opened #646 "Incorrect value name for repos in chart README"
The chart README references a value called `api.config.repos` in the  [Configuring Chart Repositories](https://github.com/helm/monocular/blob/master/chart/monocular/README.md#configuring-chart-repositories) section.
This should be `sync.repos` as per the example snippet that follows it.

[2019-10-03 07:20] karanrn commented on #646
So it is just about changing README file from `api.config.repos` to `sync.repos`.

[2019-10-03 15:12] martinheg commented on #646
Yes

[2019-10-03 16:19] karanrn commented on #646
I will do it

[2019-10-03 18:31] karanrn commented on #646
I have pushed changes #647  [GH-646] Incorrect value name for repos in chart README

[2019-10-07 14:22] mattfarina opened #649 "Support Helm v3 charts"
Helm v3 has a new chart format with some changes. These are v2 apiVersion. Support could/should include noting the helm version it is for.

[2019-10-07 21:44] #636 closed

[2019-11-11 03:22] jdolitsky opened #651 "Show repo add instructions for stable repo"
In Helm 3, the stable repository is not added by default.

Due to this, the Helm Hub should include instructions on how to manually add the stable repository.

[2019-11-11 21:59] #651 closed

[2019-11-15 23:25] Scuilion opened #654 "Running Monocular with Kind"
I don't know if anyone is interested but below are the commands that I used to run Monocular on Kind

[code]

[2019-11-25 08:45] harindersingh commented on #566
If you're using helm 3,
`--name`
flag is invalid and will give
`Error: unknown flag: --name`

You directly provide name before chartname
`Usage:
  helm install [NAME] [CHART] [flags]`
`helm install monocular-release monocular/monocular`

[2019-11-25 11:17] Dean-Coakley commented on #566
Right, I'll try update the chart docs later today if I get a chance.

However that's unrelated to this issue:
`./helm install this-is-very-long-release-name chart/monocular`
Will still result in a Crontab with a name too long resulting in an invalid install.

[2020-02-11 03:10] gregsidelinger opened #657 "Have chart-repo filter charts when syncing"
Need a way to limit what charts are displayed when syncing with a repository that contains charts users should use.

I played around with a --filter-name option to only include charts that match the names passed in.  I also played around a --filter-annotation flag to only sync repos that contained an annotation of a specific value.

[2020-02-11 08:15] fr34k8 commented on #489
@everflux
did you have any news around this topic ?

[2020-02-12 13:22] carrodher opened #659 "Update to Helm 3 the 'helm install' instruction"
The `helm install` command doesn't work in Helm 3.

![Screen Shot 2020-02-12 at 14 17 03](https://user-images.githubusercontent.com/13216600/74338491-95b61400-4da2-11ea-8d85-3ff632d32d72.png)

Using this instruction:
[code]
My proposal is to add the `--generate-name` flag:
[code]

Then the other instructions depend on the `README.md` (not maintained by Helm itself), but it would be nice to, at lea

[2020-02-22 01:37] chavezmx opened #661 "Support for protocol gs://"
will monocular support different protocols for hosting repositories ?. For example private repositories hosted directly on google buckets. Tried to add a not http record and got the following error:

time="2020-02-22T01:29:29Z" level=error msg="error requesting repo index" error="Get gs://foobar/test/index.yaml: unsupported protocol scheme \"gs\"" url="gs://foobar/test/index.yaml"

Is there any pl

[2020-03-06 19:56] nemox commented on #528
Hello,
I seem to have a similar problem. I deploy mongodb with helm and set values in the values.yaml file.

[2020-03-06 20:02] nemox commented on #528
[code]
Firstly, if i I do not set useStatefulSet to true, the annotations from persistence.annotations is not rendered in the annotations of the created PersistenceVolumeClaim.
Further more when I run ```kubectl get pvc```I get this output:
[code]
Name:         hasher-mongodb-0
Namespace:    default
Priority:     0
Node:         10.144.180.104/10.144.180.104
Start Time:   Fri, 06 Mar 2020 20:50:13

[2020-03-24 13:28] mattfarina opened #663 "Anchors in readme to top level domain instead of readme"
See https://github.com/helm/hub/issues/283 for more detail.

The gist, an anchor in a README is displaying as an anchor to the top level domain.

[2020-03-24 13:29] mattfarina opened #664 "Images linked in READMEs not rendered"
See https://github.com/helm/hub/issues/280

[2020-03-25 06:22] zehuaiWANG opened #665 "can not install in helm3"
[code]

I follow the README, but it seems no work well.

[2020-03-31 13:47] dhrp commented on #622
Just jumping in; but

Why exactly is that? As far as I know projects using MongoDB, on any version, including the latest, is completely allowed. Effectively blocking any new release (https://github.com/helm/hub/issues/212) seems unnecessary.

[2020-04-17 15:12] ntnchrrn07 opened #666 "ingress controller problem with OPENSHIFT: monocular could not work"
Hello all,
On openshift platform, monocular is not working. We could not so use Monocular on it.
We think this problem is caused by a dependency too much important with nginx-ingress.

We think to have find the problem in monocular, it could be interesting to investigate :

- frontend send requests on "/chartsvc/v1/*"
- backend wait receive requests on "/v1/*"

Prefix of the back is only "/v1" whe

[2020-04-20 15:17] ntnchrrn07 opened #667 "proposal UI feature: Add empty displaying when readme.md not found"
Hello all,
Just an issue to propose to add an empty displaying when an helm chart have not an README in its repo.

**Problem:** Currently the display shows the loader. This can mislead a user.
**Url:** http://<server>/charts/<repo>/<HelmChart>
**Fix:** Display nothing

Best regards,

[2020-05-01 19:47] kferrone opened #668 "Deprecated Default Mongo"
The repo for the default mongodb is deprecated in favor of the Bitnami chart.

[2020-05-01 22:16] kferrone opened #669 "Password Protect?"
Is there any way to add some password protection? Just a simple plain text password will do.

[2020-06-12 21:57] andyfeller commented on #659
While I wouldn't want to use `--generate-name` for my own use cases, I want quickstart guides to literally be copy and paste friendly.  Ran into this myself and hesitate pointing people toward Helm Hub if this is the behavior.

[2020-07-21 16:04] haochencheng opened #675 "index.html Uncaught TypeError: Cannot read property 'overrides' of undefined at (index):7"
![image](https://user-images.githubusercontent.com/20943919/88078295-e0885300-cbae-11ea-8caf-74786090870b.png)

[2020-07-21 18:54] sivag9 commented on #546
I am using mongo-3.6.17 and facing the same error in the mongodb logs. Is there any standard way to avoid these messages ?

[2020-07-28 09:21] cai11745 commented on #665
try short name, ex : helm install helmui monocular/monocular

[2020-08-04 07:30] #665 closed

[2020-09-02 16:48] mjschmidt opened #677 "is it possible to pass a CA cert"
For chart loading, is it possible to pass a CA cert via the values.yaml file in the form of a kubernetes secret? Or is the only work around for x509 to create your own container with the CA cert built in?

[2020-09-02 21:45] mjschmidt commented on #248
did this ever gain any traction?

[2020-09-02 21:45] mjschmidt commented on #248
or any work arounds?

[2020-09-03 12:10] mjschmidt commented on #677
To be more clear, I am using the monocular helm chart to deploy my workload, if there were a way to upload a ca cert in the form of a kubernetes secret or something along those lines that would be fantastic.

[2020-09-29 10:30] tillhoff opened #681 "tiller is deprecated"
You probably shouldn't recommend it in your main readme: https://github.com/helm/monocular/blame/master/README.md#L17

[2020-10-14 17:46] bacongobbler opened #682 "Add Docker authentication to CircleCI jobs"
Starting November 1, 2020, Docker Hub will impose rate limits based on the originating IP. Since CircleCI runs jobs from a shared pool of IPs, it is highly recommended to use authenticated Docker pulls with Docker Hub to avoid rate limit problems.

More information on how to apply authentication to CI jobs can be found here: https://circleci.com/docs/2.0/private-images/

https://github.com/helm/mo

[2020-10-29 18:15] tillhoff commented on #681
Looks like this isn't developed anymore. Will close the issue for my own sanity.

[2020-10-29 18:15] #681 closed

[2021-01-22 08:53] mahmoud-mahdi commented on #666
I have the same issue in Openshift and it is not working. Is there any update regarding this case.

[2021-01-24 04:58] javad-hajiani commented on #332
I'd like to work on this, if possible

[2021-02-07 13:03] abdennour opened #684 "imagePullSecrets missing in the helm chart values of monocular"
Usually, in offline/disconnected environments, container images are fetched from private registries.
To do that, we assign `imagePullSecrets`.
However, the [helm chart of monocular](https://github.com/helm/monocular/tree/master/chart/monocular/templates) does not provide a way to specify imagePullSecrets.

Please accept my PR if i fixed. Or fix it kindly

[2021-04-21 02:22] abdennour commented on #684
i am feeling that this repo is out of support.  i hope i am mistaken

[2021-04-21 10:35] abdennour opened #687 "mongo db not authorized on to execute command { aggregate: pipeline: $addFields .."
i am using external mongo
[code]
All pods of monocular are healthy and running. But as long as i open the first page, i got this error :

[code]
my mongodb database name is "monocular"

[2021-04-21 10:36] abdennour commented on #687
Seems like the database name is hard-coded
Seems like the database name must be always named "charts"
I clean the whole mongodb, i created new one giving it "charts" as value for database to be provisioned..

It works now

[2021-04-21 10:36] #687 closed

[2021-04-26 07:17] abdennour commented on #451
the same question, i assigned `icon` props in `Chart.yaml` but i cannot see it in the UI

[2021-06-17 06:53] #659 closed